.outer-pokedex{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 2px solid black;
    background: linear-gradient(to right , white,red );
    align-items: center;
}

#pokedex-heading{
    margin: 0 auto;
    letter-spacing: 2px;
}

a:visited{
    color: black;
}